{% extends 'guests/onboarding/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0">
    <div class="container form-container-profile my-5">
        <div class="row">
            <div class="col-12 px-0">
                <div class="w-100 d-flex justify-content-between mb-2">
                    <span class="small txt-color-gray">
                        Step 5 of 5
                    </span>
                    <span class="small txt-color-gray">
                        Beverages & Alcohol
                    </span>
                </div>
                <div class="progress-bar">
                    <div class="progress-bar-status" style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">
        <div class="container form-container-profile my-2">
            <div class="row">
                <a href="{% url 'guests:onboarding_diet_services' %}"
                    class="txt-color-gold fs-14 d-flex align-items-center" style="text-decoration: none;"><span
                        class="material-icons-outlined mr-3">
                        arrow_back
                    </span> Back </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!--YOUR PROFILE-->
    <div class="container form-container-profile px-5 pb-5 rounded-5 border-gold-1 mb-5" data-aos="fade-down"
        data-aos-duration="1000" data-aos-delay="300">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="form-register">
                    <h3 class="form-title">Your Yacht Preferences - Beverages & Alcohol</h3>
                    <small class="form-short-description">
                        Please complete the following sheet, being as specific as possible. Remember that not all brands
                        or items are available, but be assured that the crew will do their best to meet your
                        requirements.
                    </small>
                </div>
            </div>
        </div>



        <div class="row mt-3">
            {% crispy form %}

            <div class="col-md-5 px-md-0">
            </div>
        </div>
    </div>

</div>
{% endblock content %}
</body>
{% block modal_block %}
<div class="modal fade" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-color-dark">
            <div class="success-msg p-5">
                <img src="{% static 'core/img/success.svg' %}" alt="" class="mx-auto d-table">
                <h3 class="form-title text-center d-table mx-auto">Success!</h3>
                <small class="form-short-description text-center d-table mx-auto text-capitalize">Thank you for
                    Completing your trident profile.</small>
                <a href="{% url 'guests:dashboard' %}" class="btn btn-solid-gold w-100 d-table text-center mt-5">Go to
                    Dashboard</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add_new" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-color-dark">
            <div class="success-msg p-5">
                <h4 class="form-title m-0">Add Beverage</h4>
                <div class="col-12 d-flex align-items-end mt-3 px-0">
                    <div class="form-group py-0 w-100">
                        <label for="" class="form-label">Brand, Color, Vineyard / Region</label>
                        <input type="text" class="form-control" placeholder="Please indicate">
                    </div>
                    <div class="input-group inc pb-3 px-3">
                        <div class="input-group-prepend">
                            <button class="px-0 btn btn-sm bg-transparent d-flex align-items-center" id="minus_bev">
                                <span class="material-icons fs-25 txt-color-gold">
                                    remove_circle
                                </span>
                            </button>
                        </div>

                        <input type="text" class="form-control form-input text-center bg-transparent border-0 p-0"
                            value="1" placeholder="0" id="ind_bev">

                        <div class="input-group-append">
                            <button class="px-0 btn btn-sm bg-transparent d-flex align-items-center" id="add_bev">
                                <span class="material-icons fs-25 txt-color-gold">
                                    add_circle
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <a href="javascript:void(0)" class="btn btn-outline-gold mr-2 w-100"
                            data-dismiss="modal">Cancel</a>
                    </div>
                    <div class="col-md-6 px-md-0  mt-3">
                        <a href="javascript:void(0)" class="btn btn-solid-gold w-100" data-dismiss="modal">Save &
                            Add</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script src="custom-script.js"></script>
<script type="text/javascript">
    var button = document.getElementById("submit_button").setAttribute("data-target", "success_modal");

    var form = document.getElementById("id-beveragesAlcoholPreferencesForm");
    if (form) {
        form.submit = function (e) {
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'), // the file to call
                data: $(this).serialize(),
                success: function () {
                    console.log("Successfully submitted");
                }
            });
            e.preventDefault();
        };
        button.onclick = function (e) {
            e.preventDefault();
            form.submit(e);
        };
    }
</script>
{% endblock modal_block %}

</html>