{% extends 'guests/onboarding/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
    {% block content %}
        <div class="container-fluid" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0">
            <div class="container form-container-profile my-5">
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="w-100 d-flex justify-content-between mb-2">
                            <span class="small txt-color-gray">
                                Step 1 of 5
                            </span>
                            <span class="small txt-color-gray">
                                Your Profile
                            </span>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-bar-status" style="width: 20%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <!--YOUR PROFILE-->
            <div class="container form-container-profile px-5 pb-5 rounded-5 border-gold-1 mb-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-register">
                            <h3 class="form-title">Your Profile</h3>
                            <small class="form-short-description">Let the crew know a little bit about you by filling out your profile!</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                      {% crispy image_form %}

                        <span class="fs-16 fw-700 txt-color-gray">
                            {{user.first_name}} {{user.last_name}}
                        </span>
                    </div>
                </div>
                {% crispy form %}
                {% comment %} {% crispy document_form %} {% endcomment %}
            </div>
    {% endblock content %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css"
          integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg=="
          crossorigin="anonymous"/>
{% endblock %}

{% block js %}
    {{ block.super }}
    <link href = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/dark-hive/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"
            integrity="sha512-kkBkPRO6dSkCJDPNpW4Bb/1Z585gN++HKcIpClQW9IYI+4gk4yPC+eaE3CSQp3Ex+48NvzUvqmroZtR4gZnt4g=="
            crossorigin="anonymous"></script>
    <script src="{% static 'authentication/js/popper.min.js' %}"></script>
    <script src="{% static 'authentication/js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#get_started_modal').modal('show');

            //ALLOW ONLY NUMBER
            $('#phone_num1, #phone_num2').keypress(function(e) {
                    var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
                    if (verified) {e.preventDefault();}
                });

            //PHONE NUMBER FORMAT
            $('#phone_num1, #phone_num2').keyup(function(e){
                var ph = this.value.replace(/\D/g,'').substring(0,10);
                // Backspace and Delete keys
                var deleteKey = (e.keyCode == 8 || e.keyCode == 46);
                var len = ph.length;
                if(len==0){
                    ph=ph;
                }else if(len<3){
                    ph=ph;
                }else if(len==3){
                    ph=ph + (deleteKey ? '' : '-');
                }else if(len<6){
                    ph=ph.substring(0,3)+'-'+ph.substring(3,6);
                }else if(len==6){
                    ph=ph.substring(0,3)+'-'+ph.substring(3,6)+ (deleteKey ? '' : '-');
                }else{
                    ph=ph.substring(0,3)+'-'+ph.substring(3,6)+'-'+ph.substring(6,10);
                }
                this.value = ph;
            });
        });
        const input1 = document.getElementById("phone_num1");
        const input2 = document.getElementById("phone_num2");
        const iti1 = intlTelInput(input1, {
            default: false,
            separateDialCode: true,
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.js",
        });
        const iti2 = intlTelInput(input2, {
            default: false,
            separateDialCode: true,
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.js",
        });

        const passportDiv = document.getElementById("div_id_passport").hidden = "hidden";
        //const documentDiv = document.getElementById("div_id_document").hidden = "hidden";
        const passportButton = document.getElementById("passportButton");
        const passportFile = document.getElementById("passportFile");
        const passportName = document.getElementById("passportName");
    
        const documentButton = document.getElementById("documentButton");
        const documentFile = document.getElementById("documentFile");
        const documentForm = document.getElementById("id-fileForm")
        
        passportButton.addEventListener("click", function(e) {
            e.preventDefault()
            passportFile.click();
        })
    
        passportFile.addEventListener("change", function() {
            console.log(passportFile.value)
            if (passportFile.value){
                passportName.value = passportFile.value.replace(/C:\\fakepath\\/i, '')
            } else {
                passportName.value = "No File Chosen."
            }
        })
        documentFile.addEventListener("change", function() {
            documentForm.submit(function(e) {
                e.preventDefault();
                return false;
            })
        })

        const onboardingForm = document.getElementById("id-onboardingForm");
        onboardingForm.addEventListener("submit", function () {
            input1.value = iti1.getNumber();
            input2.value = iti2.getNumber();
            return true;
        });
        var form = document.getElementById("id-imageForm")
        form.submit = function(e) {
            var formData = new FormData(document.getElementById("id-imageForm"))
            $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'), // the file to call
            data: formData,
            contentType: false,
            processData: false,
            success:function(data, textStatus, XmlHttpResponse){
                if (data.error) {
                    alert(data.error)
                } else {
                    $('#profile_image').prop('src', data.url); 
                }
            },
            })
            e.preventDefault();
        }

        document.getElementById("profile_picture").onchange = function(e) {
            e.preventDefault()
            form.submit(e)
        }

        //PHONE NUMBER FIELD ALIGNMENT
        $(".iti").css("padding-bottom","16px");
        $("#phone_num1").css("border-bottom","none");
        $("#phone_num1").css("padding-top","23px");
        $("#phone_num2").css("border-bottom","none");
        $("#phone_num2").css("padding-top","23px");
    $("#id_passport_expiration").datepicker({ dateFormat: 'mm/dd/yy' })

    
    $("#id_date_of_birth").datepicker({ dateFormat: 'mm/dd/yy' })
    </script>
{% endblock %}
    

    {% block modal_block %}
    <script src="{% static 'authentication/js/popper.min.js' %}"></script>
    <script src="{% static 'authentication/js/bootstrap.min.js' %}"></script>
    <div class="modal fade" id="get_started_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-color-dark2">
                <div class="success-msg p-5">
                    <img src="{% static 'core/img/icon-ship-new.svg' %}" alt="" class="mx-auto d-table">
                    <h3 class="form-title text-center d-table mx-auto mb-4">Welcome to <br> Harpoon Solution.</h3>
                    <!--span class="fw-700 d-table mx-auto txt-color-gray mt-4">
                        Welcome to Harpoon Solution.
                    </span-->
                    <!--small class="form-short-description text-center d-table mx-auto">
                        You may now review your trip details, answer trip preferences, and begin your exciting adventure with the your very own Harpoon Charter Profile.</small-->
                    <small class="form-short-description text-center d-table mx-auto">With Harpoon Solution, you can manage your bookings, review your guests' preferences, and ensure that every trip with you is an exciting adventure. Begin by setting up your vessel here. </small>

                    <small class="form-short-description text-center d-table mx-auto">Please allow Harpoon access location services on your device for full experience.</small>

                    <a href="javascript:void(0);" class="btn btn-solid-gold w-100 d-table text-center mt-3"  data-dismiss="modal">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="documents_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-modal-dialog-scrollable modal-md">
            <div class="modal-content bg-color-dark2">
                <div class="success-msg p-5">
                    <div class="mb-4">
                        <h3 class="form-title mb-2 mt-0 txt-color-gold">Guest Documents</h3>
                    </div>
                    {% for document in documents %}
                    <div class="mb-4 border-bottom-dark-80-1">
                        <a href="{% url 'core:download_document' document_id=document.id %}" class="txt-color-white">{{document.document.name}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock modal_block %} 
