{% extends "authentication/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-3 col-md-5 col-12  login-container px-5">
                <div class="col-12 p-5">
                    <a href="{% url 'admins:dashboard' %}">
                        <img src="{% static 'authentication/img/logo-sol.svg' %}" alt="Harpoon Logo" class="img-fluid">
                    </a>
                </div>

                {% include "core/partials/messages.html" %}

                <div class="form-register mt-5 pt-5">
                    <h3 class="form-title">Forgot Password</h3>
                    <small class="form-short-description">Please enter your registered email.</small>
                </div>

                {% crispy form %}

                <div class="form-group font-weight-bold text-center mt-0 pt-0">
                    <a href="{% url "guests:login" %}" class="btn-clear txt-color-gold">Back to Login</a>
                </div>
            </div>

            <!--BANNER-->
            <div class="col-lg-8 col-xl-9 col-md-7  col-12 login-banner d-none d-md-block"></div>
        </div>
    </div>
{% endblock %}