{% extends "guests/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Harpoon Security Settings{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="w-100">
                <div class="w-100 bg-color-dark2 rounded-8 px-3 py-4 h-100">
                    <div class="w-100 bg-color-dark rounded-8 p-2 p-md-4">
                        <div class="row">
                            <div class="col-12">
        {% include "guests/partials/profile_settings_nav.html" with  active="security" %}
                            </div>
                        </div>
                        <div class="form-container-profile ml-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="form-register">
                                                <h3 class="form-title mb-3">Security Settings</h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="mt-5">{% crispy form %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.show_pass-container').hide();
        })
    </script>

    <script>
        const showHIddenInput = (inputOverlay, inputPass, inputIcon) => {
        const overlay = document.getElementById(inputOverlay),
            input = document.getElementById(inputPass),
            iconEye = document.getElementById(inputIcon)

            iconEye.addEventListener('click', () =>{
                //Change password to text
                if(input.type === 'password'){
                    // switch to text
                    input.type = 'text'

                    // change icon
                    iconEye.classList.add('bx-show')
                }else {
                    // change to password
                    input.type = 'password'

                    //remove icon
                    iconEye.classList.remove('bx-show')
                }
                //toggle the overlay
                overlay.classList.toggle ('overlay-content')
            })
        }

        showHIddenInput('input-overlay','id_current_password','input-icon') 
        showHIddenInput('input-overlay','id_password1','input-icon1') 
        showHIddenInput('input-overlay','id_password2','input-icon2') 
    </script>
    
{% endblock %}
