{% extends 'core/base.html' %}
{% load static %}
{% block main %}
    <section class="header" style="background: url({% static 'core/img/header-bg-3.png' %});">
        <div class="grad-over"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col mt-5 mt-lg-0">
                    <h1 class="mb-0" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0">Unique Features</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Allowing ... -->
    <section class="">
        <div class="container  px-space">
            <div class="row justify-content-center">
                <div class="col text-lg-center">
                    <h2 class="mb-4" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="100">Providing guests with unique pre-, during, & post-charter experiences
                    </h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    
                    <p class="fs-18 text-lg-center" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="200">Our preference management system captures guest specific desires, ensuring all expectations are exceeded and actively managed throughout their trip.  The ability for Captains/Business Owners to share vital pre, during and post trip information, as well as easily gather, makes this tool a must for efficient hospitality operations.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Ico Set 2 -->
    <section class="vips bg-gradient ">
        <div class="container overflow-hidden " data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
            <div class="row justify-content-center text-lg-center">
                <div class="col-lg-10">
                    <h2 class="mb-4 mb-lg-5">Your VIPs will share their information and preferences allowing your crew to manage: </h2>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
                <div class="col mb-3 mb-lg-0">
                    <div class="d-flex flex-column text-center">
                        <div class="ico-img">
                            <img src="{% static 'core/img/ico-set-2-a.png' %}" alt="" class="pb-3">
                        </div>
                        <h5 class="mb-3 primary-txt">Guest Documents</h5>
                        <p class="fs-18 text-left text-md-center">Review, manage, & respond to<br class="d-none d-lg-inline-block"> your guests&apos; shared ID & health documents.</p>
                    </div>
                </div>
                <div class="col mb-3 mb-lg-0">
                    <div class="d-flex flex-column text-center">
                        <div class="ico-img">
                            <img src="{% static 'core/img/ico-set-2-b.png' %}" alt="" class="">
                        </div>
                        <h5 class="primary-txt">Preferences</h5>
                        <p class="fs-18 text-left text-md-center">Custom tailor food & beverage options and experiences based upon guest preferences.</p>
                    </div>
                </div>
                <div class="col mb-3 mb-lg-0">
                    <div class="d-fle flex-column text-center">
                        <div class="ico-img-ireg d-flex justify-content-center align-items-center">
                            <img src="{% static 'core/img/ico-set-2-c.png' %}" alt="" class="pb-2 pb-md-0">
                        </div>
                        <h5 class="primary-txt">Vessel Info</h5>
                        <p class="fs-18 text-left text-md-center">Share vessel and trip specifics with you and your guests, for clarity and peace of mind.</p>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <img src="{% static 'core/img/mock-img.png' %}" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10" >
                    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center mb-4" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0">
                        <div class="mr-lg-3 mb-3 mb-lg-0"><img src="{% static 'core/img/ico-lock.svg' %}" /></div>
                        <div><h2 class="mb-0 text-center">We Are Dedicated to Keeping You Secure</h2></div>
                    </div>
                    <p class="fs-18" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="200">Harpoon Solution understands the security of guest information, documents, & privacy of travel plans is paramount to a safe and successful trip.  We are committed to keeping your information secure and private. To keep all your data secure, Harpoon Solution encrypts data at rest and in transit and utilizes two-factor authentication.
                    </p>

                    <p class="fs-18" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="300">You will have total control over communication, planning, and execution of all aspects of the guest experience while onboard your vessel.</p>

                    <p class="fs-18" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">Your guests will have the utmost confidence that their personal details are safe & secure. Using the latest technology and software, Harpoon Solution ensures you and your crew have the best tools to create an unparalleled experience for your guests while ensuring a safe voyage.</p>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Mock Image -->
    <section class="bg-gradient position-relative mock-section" >
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <h2 class="mb-4 text-lg-left" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0">Streamline Your Cost Management in One Easy-to-Use App</h2>

                    <p class="fs-18 mb-5 text-lg-left" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="200">Harpoon Solution understands the security of guest information, documents, & privacy of travel plans is paramount to a safe and successful trip.</p>

                    <div class="text-center text-lg-left" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
                        <a href="#" class="btn btn-main px-5 mb-3" data-toggle="modal" data-target="#scheduleAppt" >Coming Soon</a>
                    </div>
                </div>         
            </div>
            <div class="mock-img-full" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="500">
                <img class="" src="{% static 'core/img/mock-img-full.png' %}">  
            </div>
        </div>
        
    </section>
    <!-- Utilizing ... -->
    <section class="black-bg" style="background-image: url({% static 'core/img/bg-lg-01.png' %});background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <h2 class="mb-5" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0">Raising the Bar with iBeacon</h2>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7">
                    <p class="fs-18 text-lg-center" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="100">We utilize the revolutionary iBeacon system to send alerts to guests or brokers. Integrating the iBeacon technology powers the Harpoon Platform for immediate and proximal communication, setting a new standard in guest safety and heightened broker marketing.</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col text-center" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="200">
                    <div class="d-flex flex-column justify-content-center mb-5 mb-md-0">
                        <div class="ico-img d-flex justify-content-center align-items-center my-3">
                            <img src="{% static 'core/img/ico-set-4-a.png' %}" alt="" class="mb-3">
                        </div>
                        <h5 class="mb-3 px-lg-5 primary-txt">Guest Safety</h5>
                        <p class="fs-18 text-left text-md-center">Additional safety measures/features -man overboard detection, onboard search and rescue, all enabled via location services.</p>
                    </div>
                </div>
                <div class="col text-center" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="300">
                    <div class="d-flex flex-column justify-content-center mb-5 mb-md-0">
                        <div class="ico-img d-flex justify-content-center align-items-center my-3">
                            <img src="{% static 'core/img/ico-set-4-b.png' %}" alt="" class="mb-3">
                        </div>
                        <h5 class="mb-3 px-lg-5 primary-txt">Bluetooth Connectivity</h5>
                        <p class="fs-18 text-left text-md-center">Simplified and direct emergency procedures sent to guests via Bluetooth.</p>
                    </div>
                </div>
                <div class="col text-center" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
                    <div class="d-flex flex-column justify-content-center mb-5 mb-md-0">
                        <div class="ico-img d-flex justify-content-center align-items-center my-3">
                            <img src="{% static 'core/img/ico-set-4-c.png' %}" alt="" class="mb-3">
                        </div>
                        <h5 class="mb-3 px-lg-5 primary-txt">Instant Communication</h5>
                        <p class="fs-18 text-left text-md-center">Automatically share interactive services and vessel features with guests and brokers based on their proximity to an iBeacon.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CTA -->
    <section style="background: url({% static 'core/img/cta-bg-3.png' %});background-size: cover;background-repeat: no-repeat;background-position:center ;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col text-center" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0">
                    <h3 class="mb-4">Come on a journey with us.</h3>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-3">
                            <a href="{% url 'core:contact_us' %}" class="btn btn-main d-block">Let's Talk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}