{% if guest.is_principal %}
    {% if not guest.food_preferences.is_complete %}
        <span class="material-icons txt-color-magenta mr-2">
            error
        </span>
        <span class="txt-color-magenta fs-14">
            Please complete your preference sheet. No further changes will be allowed 1 week prior
            to departure. If you wish to make any changes within 1 week of the embarkation, please contact the yacht directly.
        </span>
    {% elif not guest.short_jet_preference and not guest.short_jet_preference.is_complete %}
        <span class="material-icons txt-color-magenta mr-2">
            error
        </span>
        <span class="txt-color-magenta fs-14">
            Please complete your preference sheet. No further changes will be allowed 1 week prior
            to departure. If you wish to make any changes within 1 week of the embarkation, please contact the yacht directly.
        </span>
    {% elif not guest.long_jet_preference and not guest.long_jet_preference.is_complete %}
        <span class="material-icons txt-color-magenta mr-2">
            error
        </span>
        <span class="txt-color-magenta fs-14">
            Please complete your preference sheet. No further changes will be allowed 1 week prior
            to departure. If you wish to make any changes within 1 week of the embarkation, please contact the yacht directly.
        </span>
    {% elif not guest.meal_and_room_preferences.is_complete %}
        <span class="material-icons txt-color-magenta mr-2">
            error
        </span>
        <span class="txt-color-magenta fs-14">
            Please complete your preference sheet. No further changes will be allowed 1 week prior
            to departure. If you wish to make any changes within 1 week of the embarkation, please contact the yacht directly.
        </span>
    {% elif not guest.diet_services_sizes_preferences.is_complete %}
        <span class="material-icons txt-color-magenta mr-2">
            error
        </span>
        <span class="txt-color-magenta fs-14">
            Please complete your preference sheet. No further changes will be allowed 1 week prior
            to departure. If you wish to make any changes within 1 week of the embarkation, please contact the yacht directly.
        </span>
    {% elif not guest.beverages_and_alcoholic_preferences.is_complete %}
        <span class="material-icons txt-color-magenta mr-2">
            error
        </span>
        <span class="txt-color-magenta fs-14">
            Please complete your preference sheet. No further changes will be allowed 1 week prior
            to departure. If you wish to make any changes within 1 week of the embarkation, please contact the yacht directly.
        </span>
    {% else %}
        <span class="fs-14 material-icons txt-color-mint mr-2">
            check_circle
        </span>
        <span class="txt-color-mint fs-14">
            Thank you for completing your preference sheet. No further changes will be allowed 1 week prior to departure.
        </span>
    {% endif %}
{% else %}
    {% if not guest.diet_services_sizes_preferences.is_complete %}
        <span class="material-icons txt-color-magenta mr-2">
            error
        </span>
        <span class="txt-color-magenta fs-14">
            Please complete your preference sheet. No further changes will be allowed 1 week prior
            to departure. If you wish to make any changes within 1 week of the embarkation, please contact the yacht directly.
        </span>
    {% elif not guest.beverages_and_alcoholic_preferences.is_complete %}
        <span class="material-icons txt-color-magenta mr-2">
            error
        </span>
        <span class="txt-color-magenta fs-14">
            Please complete your preference sheet. No further changes will be allowed 1 week prior
            to departure. If you wish to make any changes within 1 week of the embarkation, please contact the yacht directly.
        </span>
    {% else %}
        <span class="fs-14 material-icons txt-color-mint mr-2">
            check_circle
        </span>
        <span class="txt-color-mint fs-14">
            Thank you for completing your preference sheet. No further changes will be allowed 1 week prior to departure.
        </span>
    {% endif %}
{% endif %}