{% extends "charter/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load preference_tag %}

{% block title %}Food Preferences - {{ guest }} - {{ guest.charter }}{% endblock %}


{% block content %}
{% include "charter/partials/header.html" with vessel=vessel breadcrumbs=breadcrumbs is_common_header=False %}
{% include "charter/partials/guest_detail_vessel_header.html" with charter=charter %}
    <div class="container-fluid  px-5 pb-5 border-dark-80-1 rounded-5">
        {% include "charter/partials/guest_detail_header.html" with guest=guest %}

        <!-- Nav tabs -->
        {% include "charter/partials/guest_detail_navs.html" with charter=charter guest=guest active="food" %}


        <div class="form-container-profile ml-0">
            <div class="row">
                <div class="col-12">
                    <div class="w-100 mb-4">
                        <span class="fs-11 fw-700 txt-color-gray text-uppercase">
                            General Cuisine
                        </span>

                        <div class="form-row pl-3 pt-3 border-left-gray-80-1 mx-0">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">General Cuisine</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {% for item in guest.food_preferences.general_cuisine|get_string_as_list %}
                                            {{ item|get_display_name:"GENERAL_CUISINE" }}, 
                                        {% empty %}
                                            N/A
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Guest Note to Chef</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {{ guest.food_preferences.general_cuisine_notes|default:"N/A" }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="w-100 mb-4">
                        <span class="fs-11 fw-700 txt-color-gray text-uppercase">
                            Fish and Shellfish
                        </span>

                        <div class="form-row pl-3 pt-3 border-left-gray-80-1 mx-0">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Fish and Shellfish</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {% for item in guest.food_preferences.fish_and_shellfish|get_string_as_list %}
                                            {{ item|get_display_name:"FISH_SHELLFISH" }}, 
                                        {% empty %}
                                            N/A
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Guest Note to Chef</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {{ guest.food_preferences.fish_and_shellfish_notes|default:"N/A" }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="w-100 mb-4">
                        <span class="fs-11 fw-700 txt-color-gray text-uppercase">
                            Meat
                        </span>

                        <div class="form-row pl-3 pt-3 border-left-gray-80-1 mx-0">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Meat</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {% for item in guest.food_preferences.meat|get_string_as_list %}
                                            {{ item|get_display_name:"MEAT" }}, 
                                        {% empty %}
                                            N/A
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Guest Note to Chef</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {{ guest.food_preferences.meat_notes|default:"N/A" }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="w-100 mb-4">
                        <span class="fs-11 fw-700 txt-color-gray text-uppercase">
                            Bread
                        </span>

                        <div class="form-row pl-3 pt-3 border-left-gray-80-1 mx-0">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Bread</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {% for item in guest.food_preferences.bread|get_string_as_list %}
                                            {{ item|get_display_name:"BREAD" }}, 
                                        {% empty %}
                                            N/A
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Guest Note to Chef</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {{ guest.food_preferences.bread_notes|default:"N/A" }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="w-100 mb-4">
                        <span class="fs-11 fw-700 txt-color-gray text-uppercase">
                            Salad
                        </span>

                        <div class="form-row pl-3 pt-3 border-left-gray-80-1 mx-0">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Salad</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {% for item in guest.food_preferences.salad|get_string_as_list %}
                                            {{ item|get_display_name:"SALAD" }}, 
                                        {% empty %}
                                            N/A
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Guest Note to Chef</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {{ guest.food_preferences.salad_notes|default:"N/A" }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="w-100 mb-4">
                        <span class="fs-11 fw-700 txt-color-gray text-uppercase">
                            Soup
                        </span>

                        <div class="form-row pl-3 pt-3 border-left-gray-80-1 mx-0">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Soup</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {% for item in guest.food_preferences.soup|get_string_as_list %}
                                            {{ item|get_display_name:"SOUP" }}, 
                                        {% empty %}
                                            N/A
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Guest Note to Chef</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {{ guest.food_preferences.soup_notes|default:"N/A" }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="w-100 mb-4">
                        <span class="fs-11 fw-700 txt-color-gray text-uppercase">
                            Cheese
                        </span>

                        <div class="form-row pl-3 pt-3 border-left-gray-80-1 mx-0">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Cheese</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {% for item in guest.food_preferences.cheese|get_string_as_list %}
                                            {{ item|get_display_name:"CHEESE" }}, 
                                        {% empty %}
                                            N/A
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Guest Note to Chef</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {{ guest.food_preferences.cheese_notes|default:"N/A" }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="w-100 mb-4">
                        <span class="fs-11 fw-700 txt-color-gray text-uppercase">
                            Dessert
                        </span>

                        <div class="form-row pl-3 pt-3 border-left-gray-80-1 mx-0">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Dessert</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {% for item in guest.food_preferences.dessert|get_string_as_list %}
                                            {{ item|get_display_name:"DESSERT" }}, 
                                        {% empty %}
                                            N/A
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Guest Note to Chef</label>
                                    <span class="txt-color-white fs-16 fw-700 d-table mt-2">
                                        {{ guest.food_preferences.dessert_notes|default:"N/A" }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        /* Google design compatibility issue */
        .notif-item {
            color: #FBC25E;
            position: relative;
        }

        .notif-item.active::after {
            content: ' ';
            width: 8px;
            height: 8px;
            background: #FF3168;
            position: absolute;
            top: 3px;
            right: 3px;
            border-radius: 3px;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $('#expand_menu').click(function () {
            $('.drop-menu').toggle();
        });

    </script>
{% endblock %}