{% extends "charter/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Harpoon {{ title }}{% endblock %}

{% block content %}
{% include "charter/partials/header.html" with vessel=vessel breadcrumbs=breadcrumbs is_common_header=False %}
<div class="container-fluid">
                    
    <div class="row">
        <!-- upcoming trips -->
        <div class="col-md-12 mb-4">
            <div class="w-100" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="0">
                
                <div class="w-100 bg-color-dark2 rounded-8 px-3 py-4 h-100">
                    <div class="w-100 bg-color-dark rounded-8 p-3 p-md-4 border-gold-1">
                        <!-- -->
                        <div class="ml-0">
                            <!-- item -->
                            <div class="row">
                                <div class="col-12 text-center">
                                    <img src="{% static 'core/img/success.svg' %}" alt="" class="img-fluid p-3 mb-3">

                                    <h3 class="fs-26 txt-color-white mb-5">You have successfully created a new Charter!</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-7">
                                    <div class="bg-color-dark2 rounded-8 p-4 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="icon mr-4">
                                                <img src="{% static 'guests/img/icon-trips.svg' %}" alt="">
                                            </div>
                                            <div class="w-100">
                                                <div class="mb-2">
                                                    <span class="txt-color-gold fw-700 d-block fs-12 text-uppercase">
                                                        BOOKING ID: #{{ charter.booking_id }}
                                                    </span>
                                                    <span class="h5 txt-color-gold ff-playfair fs-22 fw-700">
                                                        {{ charter }}
                                                    </span>
                                                </div>
                                                <span class="txt-color-white fs-16 d-table">
                                                    {{ charter.embark_country }} Yacht Charter
                                                </span>
                                                <span class="txt-color-white fs-16 d-table">
                                                    {{ charter.embark_date }} - {{ charter.disembark_date }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-center txt-color-white fs-16 mb-5">Invited guests can register and add profile details and complete requested preference sheets.</p>
                                </div>
                                
                            </div>
                            <!-- /item -->
                            <div class="row justify-content-center">
                                <div class="col-lg-4">
                                    <a href="{% url 'admins:dashboard' %}" class="btn btn-solid-gold w-100">Go to Dashboard</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>   
                    <!-- -->
                    
                    <!-- -->
                                                        
                </div>
            </div>
            </div>
    </div>
</div>
{% endblock %}