{% extends 'admins/admin_base.html' %}
{% load static %}
{% block content %}
<!--SUPPORTING CONTENTS-->
<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <!--h3 class="ff-playfair fs-22 txt-color-gold fw-600 mb-4">
                Welcome, Russ!
            </h3-->
        </div>
        <!-- WEATHER -->
        <div class="col-md-6 col-lg-6 col-xl-4 mb-5">
            <div class="d-table w-100 bg-color-dark2 rounded-5 p-3 p-md-4 border-gold-1" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="0" style="min-width: 390px;">
                <!-- WEATHER CONTENT -->
                <div class="d-flex justify-content-between">
                    <div class="yatch-weather-date txt-color-gray">
                <span class="w-100 yatch-weather-date txt-color-gray">{% now "l, F d Y"%}</span>
                    </div>
                    <div class="yatch-weather-date txt-color-gray mr-5">
                <span class="w-100 yatch-weather-date txt-color-gray">{% now "H:i"%}</span>
                    </div>
                </div>
                <div class="w-100 d-table">
                    <div class="yatch-weather-details">
                        <span id="state" class="yatch-weather-details-state txt-color-gold">...</span><br>
                        <span id="tides" class="yatch-weather-details-tide txt-color-gray">High Tide / Low Tide</span><br>
                        <span id="sunrise" class="yatch-weather-details-sun txt-color-gray">Sunrise / Sunset</span>
                    </div>

                    <div class="yatch-weather-temp d-table-cell align-middle text-right">
                        <span id="weather" class="yatch-weather-temp-sunny txt-color-gray">...</span><br>
                        <span id="currentTemp" class="yatch-weather-temp-farenheit txt-color-white">...</span><br>
                        <span id="minMaxTemp" class="yatch-weather-temp-degrees txt-color-gray">...</span>
                    </div>

                    <div class="yatch-weather-temp d-table-cell align-middle text-center font-weight-bold">
                        <span class="material-icons material-icons-outlined yatch-weather-temp-sun-icon txt-color-gold">
                            wb_sunny
                        </span>
                    </div>
                </div>
                <!-- WEATHER CONTENT END-->
            </div>
        </div>
    </div>
    <div class="row">
        {% if incomplete_charters %}
        <div class="col-md-12 mb-5">
            <div class="w-100"  data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200">
                <span
                    class="ff-playfair fs-26 txt-color-white bg-color-dark2 rounded-top-left-8 rounded-top-right-8 p-3 d-table fw-700">
                    Trip Set Up In Progress
                </span>

                <!-- -->
                <div class="w-100 bg-color-dark2 px-3 py-4 h-100">
                    <div class="w-100 bg-color-dark2 border-dark-light-1 rounded-8 p-2 p-md-4">
                        <div class="w-100 d-flex align-items-center my-2">
                            <span class="material-icons txt-color-magenta mr-2">
                                error
                            </span>

                            <span class="txt-color-magenta fs-14">
                                Please select the trip below to complete set-up.
                            </span>
                        </div>
                    </div>
                </div>

                <div
                    class="w-100 bg-color-dark2 rounded-bottom-left-8 rounded-bottom-right-8 rounded-top-right-8 px-3 py-4 h-100">
                    <!-- Table -->
                    <div class="w-100 bg-color-black-75 rounded-8 p-2 p-md-4 border-gold-1">
                        <div class="table-responsive">
                            <table class="table table-borderless custom-table">
                                <thead class="border-bottom-dark-80-1">
                                    <tr>
                                        <th>
                                            <div class="d-flex align-items-center justify-content-between">
                                                Booking ID
                                                <div class="d-flex flex-column arrows">
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_less
                                                        </span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </a>

                                                </div>

                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex align-items-center justify-content-between">
                                                Booking Name
                                                <div class="d-flex flex-column arrows">
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_less
                                                        </span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex align-items-center justify-content-between">
                                                Princple
                                                <div class="d-flex flex-column arrows">
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_less
                                                        </span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex align-items-center justify-content-between">
                                                Departure Date
                                                <div class="d-flex flex-column arrows">
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_less
                                                        </span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex align-items-center justify-content-between">
                                                End Date
                                                <div class="d-flex flex-column arrows">
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_less
                                                        </span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for trip in incomplete_charters %}
                                    <tr class="py-5">
                                        <td class="">
                                            <a class="txt-color-gold"
                                                href="{% url 'charter:charter_details' charter_id=trip.id %}">{{trip.booking_id}}</a>
                                        </td>
                                        <td>
                                            {{trip}}
                                        </td>
                                        <td>
                                            {{trip.principal_guest}}
                                        </td>
                                        <td>
                                            {{trip.embark_date|date:'d F Y'}}
                                        </td>
                                        <td>
                                            {{trip.disembark_date|date:'d F Y'}}
                                        </td>
                                    </tr>
                                    {%empty%}
                                    <tr>
                                        <td colspan="5" class="text-center fw-700 py-5">
                                            No Upcoming Trips
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12 mb-5">
            <div class="w-100" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200">
                <span
                    class="ff-playfair fs-26 txt-color-white bg-color-dark2 rounded-top-left-8 rounded-top-right-8 p-3 d-table fw-700">
                    Active Trips
                </span>
                <div
                    class="w-100 bg-color-dark2 rounded-bottom-left-8 rounded-bottom-right-8 rounded-top-right-8 px-3 py-4 h-100">
                    <!-- Table -->
                    <div class="w-100 bg-color-black-75 rounded-8 p-2 p-md-4 border-gold-1">
                        <div class="table-responsive">
                            <table class="table table-borderless custom-table">
                                <thead class="border-bottom-dark-80-1">
                                    <tr>
                                        <th>
                                            <div class="d-flex align-items-center justify-content-between">
                                                Booking ID
                                                <div class="d-flex flex-column arrows">
                                                    <span class="material-icons">
                                                        expand_less
                                                    </span>
                                                    <span class="material-icons">
                                                        expand_more
                                                    </span>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex align-items-center justify-content-between">
                                                Booking Name
                                                <div class="d-flex flex-column arrows">
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_less
                                                        </span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex align-items-center justify-content-between">
                                                Princple
                                                <div class="d-flex flex-column arrows">
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_less
                                                        </span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex align-items-center justify-content-between">
                                                Departure Date
                                                <div class="d-flex flex-column arrows">
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_less
                                                        </span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex align-items-center justify-content-between">
                                                End Date
                                                <div class="d-flex flex-column arrows">
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_less
                                                        </span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for trip in active_charters %}
                                    <tr class="py-5">
                                        <td>
                                            <a class="txt-color-gold"
                                                href="{% url 'charter:charter_details' charter_id=trip.id %}">{{trip.booking_id}}</a>
                                        </td>
                                        <td>
                                            {{trip}}
                                        </td>
                                        <td>
                                            {{trip.principal_guest}}
                                        </td>
                                        <td>
                                            {{trip.embark_date|date:'d F Y'}}
                                        </td>
                                        <td>
                                            {{trip.disembark_date|date:'d F Y'}}
                                        </td>
                                    </tr>
                                    {%empty%}
                                    <tr>
                                        <td colspan="5" class="text-center fw-700 py-5">
                                            No Active Trips
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Upcoming Trips -->
        <div class="col-md-12 mb-5">
            <div class="w-100" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500">
                
                <div class="w-100 bg-color-dark2 rounded-8 px-3 py-4 h-100">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-sm-flex justify-content-between align-items-lg-center mb-4">
                                <div>
                                    <ul class="nav nav-line mb-3 mb-md-0" id="myTab" role="tablist">
                                        <li class="nav-item mr-4" onclick="changeParam('past', 'false')">
                                            <a class="nav-link {% if request.GET.past != 'true' %}active{% endif %} ff-open-sans px-0"
                                id="home-tab" href="#" role="tab" aria-controls="home" aria-selected="true">Upcoming
                                Charters</a>
                                        </li>
                                        <li class="nav-item mr-4" onclick="changeParam('past', 'true')">
                                            <a class="nav-link {% if request.GET.past == 'true' %}active{% endif %} ff-open-sans  px-0"
                                id="home-tab" href="#" role="tab" aria-controls="home" aria-selected="true">
                                Past Charters
                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <a href="{% url 'charter:new_trip' %}" class="btn btn-solid-gold d-block d-sm-inline-block">Create Trip</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table -->
                    <div class="w-100 bg-color-black-75 rounded-8 p-2 p-md-4 border-gold-1">
                        
                        <div class="table-responsive">
                        <table class="table table-borderless custom-table">
                            <thead class="border-bottom-dark-80-1">
                                <tr>
                                    <th>
                                        <div class="d-flex align-items-center justify-content-between">
                                            Booking ID
                                            <div class="d-flex flex-column arrows">
                                                <a href="javascript:void(0)">
                                                    <span class="material-icons">
                                                        expand_less
                                                    </span>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <span class="material-icons">
                                                        expand_more
                                                    </span>
                                                </a>
                                                
                                            </div>
                                            
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-flex align-items-center justify-content-between">
                                            Booking Name
                                            <div class="d-flex flex-column arrows">
                                                <a href="javascript:void(0)">
                                                    <span class="material-icons">
                                                        expand_less
                                                    </span>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <span class="material-icons">
                                                        expand_more
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-flex align-items-center justify-content-between">
                                            Princple
                                            <div class="d-flex flex-column arrows">
                                                <a href="javascript:void(0)">
                                                    <span class="material-icons">
                                                        expand_less
                                                    </span>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <span class="material-icons">
                                                        expand_more
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-flex align-items-center justify-content-between">
                                            Departure Date
                                            <div class="d-flex flex-column arrows">
                                                <a href="javascript:void(0)">
                                                    <span class="material-icons">
                                                        expand_less
                                                    </span>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <span class="material-icons">
                                                        expand_more
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-flex align-items-center justify-content-between">
                                            End Date
                                            <div class="d-flex flex-column arrows">
                                                <a href="javascript:void(0)">
                                                    <span class="material-icons">
                                                        expand_less
                                                    </span>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <span class="material-icons">
                                                        expand_more
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if request.GET.past != 'true' %}{% for trip in upcoming_charters %}
                                <tr>
                                    <td class="txt-color-gold">
                                        <a class="txt-color-gold"
                                            href="{% url 'charter:trip_details' charter_id=trip.id %}">{{trip.booking_id}}</a>
                                    </td>
                                    <td>
                                        {{trip}}
                                    </td>
                                    <td >
                                        {{trip.principal_guest}}
                                    </td>
                                    <td >
                                        {{trip.embark_date|date:'d F Y'}}
                                    </td>
                                    <td >
                                        {{trip.disembark_date|date:'d F Y'}}
                                    </td>
                                </tr>
                                {%empty%}
                                    <tr>
                                        <td colspan="5" class="text-center fw-700 py-5">
                                            No Upcoming Trips
                                        </td>
                                    </tr>
                                {% endfor %}{% endif %}
                                {% if request.GET.past == 'true' %}{% for trip in past_charters %}
                                <tr>
                                    <td class="txt-color-gold fs-14 fw-700">
                                        <a class="txt-color-gold fs-14 fw-700"
                                            href="{% url 'charter:trip_details' charter_id=trip.id %}">{{trip.booking_id}}</a>
                                    </td>
                                    <td>
                                        {{trip}}
                                    </td>
                                    <td>
                                        {{trip.principal_guest}}
                                    </td>
                                    <td>
                                        {{trip.embark_date|date:'d F Y'}}
                                    </td>
                                    <td>
                                        {{trip.disembark_date|date:'d F Y'}}
                                    </td>
                                </tr>
                                {% endfor %}{% endif %}
                            </tbody>
                        </table>
                        </div>
                    </div>      
                                                            
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<div class="footer-main px-3 px-md-5"> 
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <img src="{% static 'authentication/img/logo-sol.svg' %}">
            </div>
            <div class="col text-right">
                <a href="{% url 'admins:terms_and_conditions' %}" class="mr-4">Terms</a>
                <a href="{% url 'admins:privacy_policy' %}">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>

<script type="text/javascript">
    function changeParam(key, value) {
        var params = new URLSearchParams(window.location.search);
        params.set(key, value);
        var newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + params.toString();
        window.history.pushState({ path: newUrl }, '', newUrl);
        window.location.href = newUrl;
    }
</script>

<!--WEATHER SCRIPT-->
<script type="text/javascript">
    $(document).ready(function () {
        if (/past/.test(window.location.href)) {
            // Handler for .ready() called.
            $('html, body').animate({
                scrollTop: $('#upcoming-past').offset().top
            }, 'slow');
        }

        if (navigator.geolocation) {
            // Request the current position
            // If successful, call getPosSuccess; On error, call getPosErr
            navigator.geolocation.getCurrentPosition(getPosSuccess, getPosErr);
        } else {
            alert('geolocation not available?! What year is this?');
            // IP address or prompt for city?
        }

        // getCurrentPosition: Successful return
        function getPosSuccess(pos) {
            // Get the coordinates and accuracy properties from the returned object
            var lat = pos.coords.latitude.toFixed(5);
            var long = pos.coords.longitude.toFixed(5);
            var geoAcc = pos.coords.accuracy.toFixed(1);
            const weatherApiKey = "{{weather_api_key}}" || "0934fe0eb943db127847b7503baccff8";
            const geocodeApiKey = "{{ geocode_api_key }}" || "26376185714541b8ac364569e094dd13";


            const geocodeUrl = `https://api.geoapify.com/v1/geocode/reverse?lat=${lat}&lon=${long}&apiKey=${geocodeApiKey}`;
            const tideApiUrl = `https://api.sunrise-sunset.org/json?lat=${lat}&lng=${long}&formatted=0`;
            const weatherApiUrl = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${long}&units=imperial&appid=${weatherApiKey}`;

            $.ajax({
                url: weatherApiUrl,
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    $('#currentTemp').html(`${data.main.temp.toString().split(".")[0]} F`);
                    $('#minMaxTemp').html(`${data.main.temp_min.toString().split(".")[0]} F / ${data.main.temp_max.toString().split(".")[0]} F`);
                    $('#weather').html(data.weather[0].main);
                }
            });

            $.ajax({
                url: geocodeUrl,
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    $('#state').html(`${data.features[0].properties.state}`);
                }
            });

            $.ajax({
                url: tideApiUrl,
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    var sunrise = new Date(data.results.sunrise)
                    var sunset = new Date(data.results.sunset)
                    var lowTide = addMinutes(sunrise, getRandomInt(0, 30))
                    var highTide = addMinutes(sunset, getRandomInt(0, 30))
                    sunrise = sunrise.toTimeString().slice(0,5)
                    sunset = sunset.toTimeString().slice(0,5)
                    lowTide = lowTide.toTimeString().slice(0,5)
                    highTide = highTide.toTimeString().slice(0,5)
                    $('#sunrise').html(`${sunrise} Sunrise / ${sunset} Sunset`);
                    $('#tides').html(`${highTide} High Tide / ${lowTide} Low Tide`);
                }
            });
        }
        function addMinutes(date, minutes) {
            return new Date(date.getTime() + minutes*60000);
        }

        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        // getCurrentPosition: Error returned
        function getPosErr(err) {
            switch (err.code) {
                case err.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case err.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case err.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                default:
                    alert("An unknown error occurred.");
            }
        }
    });
</script>
{% endblock content %}