{% extends 'admins/admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- upcoming trips -->
        <div class="col-md-12 mb-4">
            <div class="w-100" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="0">

                <div class="w-100 bg-color-dark2 rounded-8 px-3 py-4 h-100">
                    <h3 class="fs-26 txt-color-white mb-4 ml-2">Crew Profile</h3>

                    <div class="w-100 bg-color-dark rounded-8 p-3 p-md-4 border-gold-1">
                        
                        <!-- -->
                        <div class="form-container-profile ml-0">
                            <div class="row mb-5">
                                <div class="col-12">
                                    <ul class="nav nav-line mb-0" id="myTab" role="tablist">

                                        <li class="nav-item mr-4">
                                            <a href="{% url 'admins:crew_profile_list' %}" class="nav-link {% if 'create' not in request.build_absolute_uri %}active{% endif %} ff-open-sans px-0 fs-16">
                                                Crew Profile
                                            </a>
                                        </li>
                                        <li class="nav-item mr-4">
                                            <a href="{% url 'admins:crew_profile_create' %}" class="nav-link {% if 'create' in request.build_absolute_uri %}active{% endif %} ff-open-sans px-0 fs-16">
                                                Create Crew Profile
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% if 'edit' in request.build_absolute_uri %}
                                {% crispy image_form %}
                            {% endif %}
                            <!-- /ITEM -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <span class="fs-18 fw-700 txt-color-white text-uppercase">Personal Details</span>
                                        </div>

                                    </div>
                                    {% crispy form %}
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col-md-6 mb-3 mb-lg-0">
                                    <a href="#" onclick="submitForm()" class="btn btn-solid-gold w-100">Save</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'admins:crew_profile_print' crew_id=crew.id %}" target="_blank" class="btn btn-outline-gold d-block w-100">View PDF</a>
                                </div>
                            </div>
                            <!--  ITEM -->


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Preference Sheets -->

    </div>
</div>
</div>

<div class="footer-main px-3 px-md-5"> 
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <img src="{% static 'authentication/img/logo-sol.svg' %}">
            </div>
            <div class="col text-right">
                <a href="{% url 'admins:terms_and_conditions' %}" class="mr-4">Terms</a>
                <a href="{% url 'admins:privacy_policy' %}">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    const form = document.getElementById("id-crewProfileForm")
    
    function submitForm() {
        form.submit()
    }

    var imageForm = document.getElementById("id-imageForm")
        imageForm.submit = function(e) {
            var formData = new FormData(document.getElementById("id-imageForm"))
            $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'), // the file to call
            data: formData,
            contentType: false,
            processData: false,
            success:function(data, textStatus, XmlHttpResponse){
                if (data.error) {
                    alert(data.error)
                } else {
                    $('#profile_image').prop('src', data.url); 
                }
            },
            })
            e.preventDefault();
        }

        document.getElementById("profile_picture").onchange = function(e) {
            e.preventDefault()
            imageForm.submit(e)
        }
    
</script>
{% endblock %}