{% extends "charter/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Harpoon Security Settings{% endblock %}

{% block content %}
{% include "charter/partials/header.html" with header_title=header_title|default:"Account Settings" is_common_header=True %}
<div class="container-fluid">

    <div class="row">
        <!-- upcoming trips -->
        <div class="col-md-12 mb-4">
            <div class="w-100">

                <div class="w-100 bg-color-dark2 rounded-8 px-3 py-4 h-100">
                    <h3 class="fs-26 txt-color-white mb-4 ml-2">Change Password</h3>

                    <div class="w-100 bg-color-dark rounded-8 p-3 p-md-4 border-gold-1">
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
{{ block.super }}
<style>
    .alert {
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 1em;
        width: 30%;
        z-index: 1;
        /* display: inline-block; */
    }

    /* Google design compatibility issue */
    .notif-item {
        color: #FBC25E;
        position: relative;
    }

    .notif-item.active::after {
        content: ' ';
        width: 8px;
        height: 8px;
        background: #FF3168;
        position: absolute;
        top: 3px;
        right: 3px;
        border-radius: 3px;
    }
</style>
{% endblock %}

{% block js %}
{{ block.super }}

<script type="text/javascript">
    $('#expand_menu').click(function () {
        $('.drop-menu').toggle();
    });

    $(document).ready(function () {
        $('.show_pass-container').hide();
    })
</script>

<script>
    const showHIddenInput = (inputOverlay, inputPass, inputIcon) => {
        const overlay = document.getElementById(inputOverlay),
            input = document.getElementById(inputPass),
            iconEye = document.getElementById(inputIcon);

        iconEye.addEventListener('click', () => {
            //Change password to text
            if (input.type === 'password') {
                // switch to text
                input.type = 'text';

                // change icon
                iconEye.classList.add('bx-show');
            } else {
                // change to password
                input.type = 'password';

                //remove icon
                iconEye.classList.remove('bx-show');
            }
            //toggle the overlay
            overlay.classList.toggle('overlay-content');
        });
    };

    showHIddenInput('input-overlay', 'id_current_password', 'input-icon');
    showHIddenInput('input-overlay', 'id_password1', 'input-icon1');
    showHIddenInput('input-overlay', 'id_password2', 'input-icon2') 
</script>

{% endblock %}